html,
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.leaderboard-heading {
  text-align: center;
}

.leaderboard {
  margin: 50px;
  display: flex;
  justify-content: space-evenly;
}

.recent-heading-and-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.recent-heading {
  margin-right: 50px;
}

.refresh-button {
  cursor: pointer;
}

.recent-scores-list {
  list-style: none;
  border: 1px solid black;
  width: 100%;
  padding: 0;
}

.recent-score {
  padding: 10px;
}

.recent-score:nth-child(odd) {
  background-color: #cfcfcf;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  margin: 20px;
  padding: 10px;
  border: none;
  border-bottom: 1px solid black;
}

input:focus {
  outline: none;
  border-bottom: 3px solid #0095ff;
}

button {
  padding: 10px;
  width: 100px;
  background-color: #0095ff;
  color: white;
  cursor: pointer;
  border: none;
  user-select: none;
}

button:hover {
  background-color: #006ec7;
}

@media screen and (max-width: 768px) {
  .leaderboard {
    flex-direction: column;
    align-items: center;
  }
}
